.path-admin-local-usertours .stepcreator .input-append {
  font-size: inherit;
}

.tour-actions > ul {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tour-actions > ul > li {
    background-color: #f5f5f5;
}

span[data-flexitour="container"] {
    z-index: 4031;
    max-width: 400px;
}
div[data-role="flexitour-step"] {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

div[data-role="flexitour-step"] .flexitour-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

div[data-role="flexitour-step"] .flexitour-body,
div[data-role="flexitour-step"] .flexitour-navigation {
    padding: 9px 14px;
}

span[data-flexitour="container"][x-placement^="top"] {
    margin-bottom: 10px;
}

span[data-flexitour="container"][x-placement^="bottom"] {
    margin-top: 10px;
}

span[data-flexitour="container"][x-placement^="right"] {
    margin-left: 10px;
}

span[data-flexitour="container"][x-placement^="left"] {
    margin-right: 10px;
}

span[data-flexitour="container"].orphan {
    position: absolute;
}

span[data-flexitour="container"].orphan div[data-role="arrow"] {
    display: none;
}

span[data-flexitour="container"] div[data-role="arrow"] {
    border-width: 11px;
}

span[data-flexitour="container"] div[data-role="arrow"],
span[data-flexitour="container"] div[data-role="arrow"]:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
}

span[data-flexitour="container"][x-placement^="top"] div[data-role="arrow"] {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, .25);
}
span[data-flexitour="container"][x-placement^="top"] div[data-role="arrow"]:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-bottom-width: 0;
    border-top-color: #fff;
}

span[data-flexitour="container"][x-placement^="bottom"] div[data-role="arrow"] {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: rgba(0, 0, 0, .25);
}
span[data-flexitour="container"][x-placement^="bottom"] div[data-role="arrow"]:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}

span[data-flexitour="container"][x-placement^="left"] div[data-role="arrow"] {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, .25);
}
span[data-flexitour="container"][x-placement^="left"] div[data-role="arrow"]:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
}

span[data-flexitour="container"][x-placement^="right"] div[data-role="arrow"] {
    left: -11px;
    top: 50%;
    margin-top: -11px;
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, .25);
}
span[data-flexitour="container"][x-placement^="right"] div[data-role="arrow"]:after {
    left: 1px;
    bottom: -10px;
    content: " ";
    border-left-width: 0;
    border-right-color: #fff;
}

div[data-flexitour="backdrop"] {
    z-index: 4030;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
}

div[data-flexitour="step-background-fader"],
div[data-flexitour="step-background"] {
    position: absolute !important;
    z-index: 4031;
    background: inherit;
    border-radius: 6px;
}

div[data-flexitour="step-background-fader"],
[data-flexitour="step-backdrop"] > td,
[data-flexitour="step-backdrop"] {
    z-index: 4032;
    position: relative;
}
